
<%= render 'share/error', obj: @user %>

<div class="row">
  <div class="col-md-12">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <div class="col-form-label col-md-2">
         <%= f.label :UserName %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :username , class:"form-control", placeholder:"UserName" %>
        </div>  
      </div>

      <div class="form-group">
        <div class="col-form-label col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-10">  
          <%= f.email_field :email, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-form-label col-md-2">
          <%= f.label :Password %>
        </div>
        <div class="col-md-10">  
          <%= f.password_field :password, class:"form-control" %>
        </div>
      </div>  

      <div class="form-group">
        <div class="col-md-10">
          <%= f.submit(@user.new_record? ? "Sign Up" : "Up Date", class:"btn btn-primary") %>
        </div>
      </div>    

    <% end %>
  </div>
</div>  